body{
    font-family: 'Montserrat', sans-serif;
}

/*div-tagg med formuläret direkt inuti*/
#container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: 100px;
    background-color: lightblue;
    border-radius: 50px;
}

/*class för att skapa blå kant på input och select-fält*/
.blueInput {
    margin-top:10px;
    margin-bottom: 10px;
    border-color: blue;
    border-radius: 5px;
    height: 20px;
    padding-left: 10px;
}

/*class för att skapa grön kant på input och select-fält*/
.greenInput{
    margin-top:10px;
    margin-bottom: 10px;
    border-color: green;
    border-radius: 5px;
    height: 20px;
    padding-left: 10px;
}

/*class för att skapa röd kant på input och select-fält*/
.redInput{
    margin-top:10px;
    margin-bottom: 10px;
    border-color: red;
    border-radius: 5px;
    height: 20px;
    padding-left: 10px;
}

/*egenskaper för dropdown-menyn */
select {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

/*Egenskaper för popup-ruten*/
.popupWindow {
    border: 1px solid black;
    position: relative;
    margin-top: -320px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background-color: white;         
    text-align: center;
    padding-bottom: 30px;
}

/*Egenskaper för bakgrunden till popup-rutan*/
.popupBG {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    min-height: 100%;
}

/*Egenskaper för span-taggarna brevid formulär-fälten*/
.spanText {
    margin-left: 10px;
}
